<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>
 <header>
        <div class="container">
       <span class="logo">Коммуналка</span>
            <div class="box"><a href="{% url 'home' %}"><i class="fas fa-home"></i>Главная</a></div>
            <div class="box"><a href="{% url 'about' %}"><i class="far fa-address-card"></i>Про нас</a></div>
            <div class="box"><a href=""><i class="fas fa-hashtag"></i>Контакты</a></div>
            <div class="box"><a href="http://127.0.0.1:8000/admin/"><i class="fas fa-hashtag"></i>Admin</a></div>
            <div class="box"><a href="{% url 'create' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить бронь</button></a></div>
       </div>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>